{% extends "base.html" %}

{% block title %}Gráfica 1{% endblock %}

{% block content %}
<section class="recommendations">
    <h1 class="section-title">Recomendaciones</h1>
    <!-- Recomendación 1 -->
    <div class="recommendation">
        <section class="chart-section">
        <p>Las empresas deben priorizar América del Norte y Europa para maximizar las ventas globales, sin descuidar mercados especializados como Japón, adaptando la oferta a sus preferencias culturales. Además, considerar plataformas con alto rendimiento como Xbox 360 puede ser una estrategia clave para penetrar en múltiples regiones.</p>
    </section>
        <div class="menu-container">
        <img src="/static/Barras.jpg" alt="Imagen recomendación 1" class="menu-image">
    </div>
    </div>

    <!-- Recomendación 2 -->
    <div class="recommendation">
        <section class="chart-section">
        <p>Las empresas deben aprender de la estrategia de la PS2, que probablemente combinó un catálogo atractivo, accesibilidad, y marketing efectivo. Lanzar plataformas con enfoque en contenido exclusivo y estrategias globales robustas puede replicar este éxito.</p>
    </section>
        <div class="menu-container">
        <img src="/static/Lineas.jpg" alt="Imagen recomendación 2" class="menu-image">
    </div>
    </div>

    <!-- Recomendación 3 -->
    <div class="recommendation">
        <section class="chart-section">
        <p>Las empresas deben realizar estudios de mercado regionales detallados antes de lanzar videojuegos. Focalizar géneros de alto rendimiento en mercados específicos puede aumentar las probabilidades de éxito. Además, diversificar los géneros en mercados emergentes puede crear nuevas oportunidades.</p>
    </section>
        <div class="menu-container"> 
        <img src="/static/Dispersion.jpg" alt="Imagen recomendación 3" class="menu-image">
    </div>
   </div>

    <!-- Recomendación 4 -->
    <div class="recommendation">
        <section class="chart-section">
        <p>Las empresas deben invertir en géneros de alta demanda para garantizar un retorno sólido, pero también explorar géneros menos saturados que puedan tener potencial de crecimiento en audiencias específicas o regiones subtendidas.</p>
    </section>
        <div class="menu-container">
        <img src="/static/Pastel.jpg" alt="Imagen recomendación 4" class="menu-image">
    </div>
    </div>

    <!-- Recomendación 5 -->
    <div class="recommendation">
        <section class="chart-section">
        <p>Las empresas deben invertir en plataformas como la Wii, por tener una alta demanda para garantizar una subida de ventas aceptable, aparte de que se puede ver que las empresas pueden priorizar sacar más juegos en la región NA, a pesar de que las plataformas la mayoría no fue buenas recaudos de millones, fue la región con mejores ventas en todas las plataformas.</p>
    </section>
        <div class="menu-container"> 
        <img src="/static/Boxplot.jpg" alt="Imagen recomendación 5" class="menu-image">
    </div>
</div>
</section>
<div class="back-button">
    <a href="/Men" class="button">Volver al menú</a>
</div>
{% endblock %}